{% extends "layouts/default.html" %}

{% block title %}Chat window{% endblock %}

{% block body %}
  <div class="container">
    <h1>Chat window</h1>

    <div class="card" style="margin-bottom: 15px;">
      <div class="card-body" id="chatBox">
        <p class="card-text">Fugiat in pariatur nostrud nostrud consectetur consequat duis proident est. Fugiat enim reprehenderit ullamco voluptate. Dolore quis laboris ut aliquip eu elit do dolor aute. Veniam laboris laborum sit officia adipisicing. Ex enim commodo dolore fugiat anim enim quis ex eiusmod.</p>
        <p class="card-text">Sunt ut reprehenderit sunt do laborum do tempor sint. Aute eiusmod elit magna amet. Ad ex dolore laboris amet qui. Laborum cillum enim consequat exercitation do aliqua est nisi. Aliquip irure magna pariatur id dolor tempor aute aliquip consectetur voluptate occaecat qui magna. Ullamco consectetur deserunt sunt velit deserunt dolor officia aliqua id eiusmod. Et ut officia in tempor quis culpa.</p>
        <p class="card-text">Elit consequat duis incididunt quis id ad enim do occaecat Lorem elit do ipsum mollit. Adipisicing anim reprehenderit dolore dolor. Ipsum cupidatat fugiat laboris eiusmod aute aliqua pariatur et exercitation non magna.</p>
        <p class="card-text">Sunt ex eiusmod nisi nulla. Duis amet aliquip ullamco id magna minim do consectetur. Ullamco veniam incididunt aliqua irure aliqua veniam sunt in. Irure duis aliquip elit anim et sint in ad labore tempor voluptate sit. Amet anim sunt nulla deserunt nisi anim do. Dolor exercitation proident incididunt dolore minim non non ut.</p>
      </div>
    </div>

    <form id="chatForm">
      <div class="form-row">
        <div class="col">
          <input type="text" id="messageBox" class="form-control" placeholder="Type your message..." required>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary">Send message</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
